body {
  background: #ffffff url("../Assets/background.jpg") no-repeat top center fixed;
  background-size: 100% auto;
  font-family: "Montserrat";
}

@media (max-device-width: 414px) {
  body {
    background-size: auto 100%;
  }
}