.main-view {
  margin-top: 100px;
  font-size: 1.87em;

  .content {
    width: 465px;
    margin: auto;
  }

  .logo {
    background-image: url("../Assets/logo.png");
    background-repeat: no-repeat;
    height: 211px;
    width: 211px;
  }

  .text {
    margin-left: 50px;
    width: 200px;
  }

  .coming-soon {
    font-family: "Lato";
    text-transform: uppercase;
    margin: 0;
  }

  .address {
    margin: 0;

    + .uppercase {
      text-transform: uppercase;
    }
  }

  .social {
    margin-top: 25px;
    .facebook {
      background-image: url("../Assets/facebook.png");
      background-repeat: no-repeat;
      float: left;
      height: 40px;
      width: 40px;
    }

    .instagram {
      background-image: url("../Assets/instagram.png");
      background-repeat: no-repeat;
      float: left;
      height: 40px;
      width: 40px;
      margin-left: 10px;
    }
  }

  .email {
    margin-top: 25px;
    font-size: 0.5em;
  }

  .about-us {
    width: 680px;
    margin: 100px auto 0 auto;
    text-transform: uppercase;

    .location {
      float: left;
      height: 350px;
      width: 300px;
    }

    .our-story {
      float: left;
      height: 350px;
      width: 350px;
      margin-left: 30px;
    }
  }

  @media (max-device-width: 414px) {
    .content {
      width: 100%;
    }

    .logo {
      width: 400px;
      height: 400px;
      background-size: cover;
      margin: auto;
    }

    .text {
      text-align: center;
      margin: auto;
      width: 100%;
      font-size: 3em;
    }

    .social {
      margin-left: auto;
      margin-right: auto;
      width: 170px;
      height: 80px;
      .facebook {
        background-size: cover;
        width: 80px;
        height: 80px;
      }
      .instagram {
        background-size: cover;
        width: 80px;
        height: 80px;
      }
    }

    .email {
      font-size: 0.5em;
    }
  }
}