.main-view {
  margin-top: 100px;
  font-size: 30px;

  .content {
    width: 559px;
    margin: auto;
  }
  .logo {
    background-image: url("../Assets/logo.png");
    background-repeat: no-repeat;
    height: 211px;
    width: 211px;
    float: left;
  }
  .text {
    width: 298px;
    margin-left: 50px;
    float: left;
  }
  .coming-soon {
    font-family: "Lato";
    text-transform: uppercase;
    margin: 0;
  }
  .address {
    margin: 0;
    +.uppercase {
      text-transform: uppercase;
    }
  }
  .social {
    margin-top: 25px;
    .facebook {
      background-image: url("../Assets/facebook.png");
      float: left;
      height: 40px;
      width: 40px;
    }
    .instagram {
      background-image: url("../Assets/instagram.png");
      float: left;
      height: 40px;
      width: 40px;
      margin-left: 10px;
    }
  }
  .email {
    margin-top: 25px;
    font-size: 15px;
  }
}